html {
 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
 font-size: 1,2%;
 color: #F7F9FC;
}
body{
    background-color: #E2F3FF;
  position: relative;
}

#bgContainer{
  padding:20px;
}

#headerView{
  height:40px;
}
#activityGridView
{
	background:rgba(240,240,240,0.5);
  max-height: 500px;
  overflow: auto;
  border-radius: 1%;
}
.scrollGrid{
	background: none repeat scroll 0 0 rgba(240, 240, 240, 0.5);
    border-radius: 1%;
    max-height: 517px;
    overflow: auto;
}
.activityRow{
  background:rgba(240,240,240,0.5);
  margin-top: 15px;
  border-radius: 1%;
  min-height: 130px; 
}
.activityRowList{
  min-height: 130px;
  }
.activityItem{
  width:130px;
  height:130px;
  background:rgba(200,200,200,100);
  padding:2px;
  margin:3px;
  list-style-type:none;
  display: inline-block;
  text-align:center; /* changed here */
}
.activityItem.others{
  background:rgba(191,51,43,100);
}
.activityItem.placeholder{
  width:130px;
  height:110px;
  background:#F0F0F0;
  border-radius:5%;
-webkit-animation: blinker 6s; /* Chrome, Safari, Opera */
animation: blinker 6s; /* Standard */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blinker
{
0%   {background: #F0F0F0;}
10%   {background: gray;}
45%  {background: #F0F0F0;}
50%  {background: white;}
100% {background: #F0F0F0;}
}
/* Standard */
@keyframes blinker
{
0%   {background: #F0F0F0;}
10%   {background: gray;}
45%  {background: #F0F0F0;}
50%  {background: white;}
100% {background: #F0F0F0;}
} 
.activityItem.morning{
  background:rgba(220,163,43,100);
}
.activityItem.afternoon{
  background:rgba(52,131,59,100);
}
.activityItem.night{
  background:rgba(43,117,181,100);
}
.activityImg{
  /*position:relative;
  left:5%;
   */
  margin-top:5%;
  width:90%;
  height:70%;
}
.activityItemLabel{
  color:white;
  text-align:center;
  margin-top: 5%;
  max-height: 100%;
  max-width: 100%;
  font-family: arial;
  font-size: 105%;
  font-weight: bold;
}
#sun{
  height: 0px;
}
#daySchedule{
  overflow-x:auto;
  overflow-y:hidden;
  width:100%;
  float:left;
}
#dayView{
}
#dayView ul{
    list-style-type: none;
}
#dayView ul{
    list-style-type: none;
}
.activity{
  border:1px solid black;
  float:left;
  height:100px;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
.break{
  margin: 10px 0px;
  height: 100px;
  float: left;
  background-color: rgba(218, 218, 218, 0.38);
}
.dayImage{
  max-height: 100%;
  max-width: 100%;
}
.divScheduleContainer{
  float:left;
}
.item
{
  background-color: #DDDDDD;
  border: solid 1px #777777;
  margin: 2px;
  width: 300px;
}
#scheduleOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:50%;
  background: rgba(71, 71, 71, 0.44);
  position: absolute;
}
#clock {
  font-size: 36px;
  font-family: fantasy;
  text-align: center;

}
#mainView{
  width:90%;
  max-height:100%;
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}
#sidebarView{
  /*border: 1px solid black;*/
  float:left;
  width: 250px;
  height: 100%;
}

#schedulingContainer{
  margin-left:280px;
}

#logo{
  height: 100px;
  width: 100%;
  text-align:center;
  border-bottom: 1px solid black;
}
#desc{
  height: 200px;
  width: 100%;
  /*border-bottom: 1px solid black;*/
  overflow:hidden;
}
#cal{
  height: 100%;
  width: 100%;
}
#buttonArea{
  margin:auto;
  text-align:center;
}
#saveButton{
  margin:auto;
  width: 100%;
}
#fileupload{

  width: 70%;
}
#uploadButton{
  width:25%;
}
#cal {
  font-family: Asap, Helvetica, Arial;
  margin: 5 auto;
  width: 100%;
}
#cal .clndr {
  overflow: hidden;
  border-bottom: 7px solid #6EA2EF;
}
#cal .clndr .clndr-controls {
  background-color: #6EA2EF;
  color: white;
}
#cal .clndr .clndr-controls .clndr-control-button,
#cal .clndr .clndr-controls .clndr-next-button {

  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#cal .clndr .clndr-controls .clndr-previous-button:hover,
#cal .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #3881ED;
}
#cal .clndr .clndr-controls .month {
  width: 55%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#cal .clndr .clndr-table {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5px;
  margin-left: 15px;
}
#cal .clndr .clndr-table .header-day{
  font-weight: bold;
  border:0;
  border-bottom: 1px solid black;
}
#cal .clndr .clndr-table td{
  padding: 2px 6px;
  border: 1px solid black;
  text-align: center;
}
#cal .clndr .clndr-table td:hover{
  background-color: #b8b8b8;
  cursor: pointer;
}
/*Start  ccs  for  Options  View by  Rosy*/
.boton{
  /* Fonts buttons*/
  color: #fff;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: bold;
  padding: 12px 22px;
  margin-right: 30px;
  margin-top:14px;
  margin-bottom:14px;
  cursor: pointer;
  border: 0;
  border-radius: 30px;

  /* Animation buttons*/
  transition: all 0.20s linear;
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  position: relative;
  bottom: 0;
}
.rojo{
  /* Estilos para el fondo del boton */
  background: #6EA2EF;
  box-shadow: 0px 1px 0 #254623;
  margin-top: 4%;
}
.boton:active{
  /* Posicion del boton al clickearlo */
  bottom: -5px;
}
.rojo:active, {
  /* Sombra del boton al clickearlo */
  box-shadow: 0 0 0 #9a1604, inset 0 0 5px #000000;
  background: #6CB268;
  position: relative;
}
.rojo:hover, .rojo:focus{
  background: #0066FF;

}
.rojo a:hover , a:focus{

  color: #0000;
background: #0066FF;
}
#formContainer #forms {
  position: relative;
  text-align: left;
  color: #274925;
  font-weight: bold;
  border-color: #22A0F4;
  border-style: none;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-left:2%;
  margin-top:5%;
}
#formContainer #image {
  height: 60%;
  position: relative;
  float: left;
  border-color: #274925;
  width: 100%;
  padding-right: 20%;
}
#formContainer #image #imgSelected {
  border-color: #274925;
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  border-style: solid;
  border-radius: 2%;
}
#formContainer #rigth {
  width: 30%;
  position: relative;
  float: right;
  margin-left: 0%;
  padding-top: 0%;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
  margin-top: 3%;
  height: 100%;
}
#formContainer #left {
  width: 60%;
  position: relative;
  float: left;

  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
}
#nameActivity{
	width:77%;
}
#upFoto{
	width:92%;
}
.btnForm{
	float:left;
}
#up #leftUp {
  width: 70%;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  float: left;
  color: #720E17;
}
#up,#dvForm {
  width: 43%;
  height: 10%;
  margin-left: 3%;
  /*margin-right: 5%;*/
  position: relative;
  /*padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 0%;
  margin-bottom: 2%;*/
  float: left;
}
#up #rigthUp {
  width: 30%;
  height: 100%;
  position: relative;
  background-color: #315584;
}
#formContainer {
  width: 100%;
  height: 50%;

}
#up #rigthUp #bottonDown {
  position: relative;
  float: left;
}
#up #rigthUp #bottonUp {
  position: relative;
  float: left;
}
#up p #bottonDown {
  position: relative;
}
#up p #bottonUp {
  position: relative;
  float: left;
}
#grid {
  width: 54%;
  height: 28%;
  float:left;
  /*margin-right: 10%;
  margin-left: 10%;*/
  background-color: #FFFFFF;
  /*margin-top: 1%;*/
}
#up #bottonUp {
  width: 30%;
}
#up #bottonDown {
  width: 30%;
}
#up #bottonM {
  width: 30%;
  position: relative;
}
/*Welcome, about,  contact,  stickyMenu, footer by Rosy*/
#content1{
  background-color: #F7F9FC;
  padding:0,55;
}
h1 {
 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
 font-size: 4%;
 margin: 1% 0 1% 0;
 font-weight: bold;
}
h2 {
  margin-top: 2px;
  margin: 1% 0% 1% 0%;
  font-size: xx-large;
  color: #22A0F4;
  padding-left:2%;
}
h1 a {
  text-decoration: none;
  color: #8cbf26;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:link {
  color: #F5F7FB;
}
a:visited {
  color: #E4EBF4;
}
a:hover, a:active, a:focus {
  color: #FFFFFF;
}
header {
  color: #4E9149;
  max-width: 100%;
  margin: auto;
  margin-top: 8%; /*Menu*/
  position: static;
}
footer {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #4F914A;
  color: #0B0B0B;
  text-align:left;
  
  padding-right: 0px;
  text-align: left;
  margin-top: 15px;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  height: 4%;
  width: 100%; 
}
footer a{
  color:#fff;
}
#black{
  color: hsla(0,0%,0%,1);
  font-weight: bold;
} 
.content, footer {
  width: 100%;
  margin: auto;
  
  float: left;
}
/*** Sticky Menu ***/

nav{
  margin: 0 auto; /* Centro el contenedor */
  background-color: #0066FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index:99;
  width: 100%;
  overflow: hidden;
  text-align: left;
}
#top {
  width: 28%;
  background-color: #FFFFFF;
  margin-top:6%;
  height: 4%;
} 
nav ul{
  float: left;
  list-style-type: none; /* Elimino los estilos de lista */
  margin-top: 0,15%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  /* AÑADIMOS */
  position: relative;      
  width: 100%

} 
nav ul li{
  float: left; /* Floto los li para que se dispongan horizontalmente */
  /* AÑADIMOS */
  position: relative;
  width: 15%;
  text-align: center;
  font-size: large;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 8%;
  /* El padding añadirá separación entre los elementos */
}
nav ul li a:hover {
  color: #B2D7AF;
  background:#00B2FF;
  border-radius:40%;
}
#menuLogo{
  width: 70%;
  position: relative;
  float: left;
}
#menu{
  width: 100%;
  position: relative;
  float: right;
}
nav li .active {
  color: #B2D7AF;
  background: #00B2FF;
  border-radius:40%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.floatleft {
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}
.floatright {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}
#top p #logo {
  border-radius: 50%;
  border-color: #274925;
}
/*Welcome view*/
#welcomeView{
}
.main #start div #start {
  margin-top: 2%;
  font-size: 25px;
}
.main #start {
  position: relative;
  padding-top: 2%;
}
#optionsView{
  position: relative;
  padding:20px;
}
#logo {
  width: 15%;
  height: 9%;
  border-color: #6AB166;
  border-style: outset;
  position: relative;
  border-radius: 50%;
}
/*AbouUsView */
#AbouUsView{
  position: relative;
  background: #ECF5EB;
  width: 100%;
  height: 80%;
}
#AbouUsView h2,#ContactUsView h2{
  background: #4F914A;
  position: relative;
  text-align: center;
}
#ContactUsView{
  background: #ECF5EB;
  width: 100%;
  height: 80%;
  position: relative;
  text-align: center;
}
#aboutUs #articleContact {
  color: #274925;
}
#welcomeLogo, #helpVideo{
  width:80%;
  height:auto;
  border-radius: 1%;
}
#trashContainer{

  /*border-top:1px solid black;*/
  width:100%;
  height: 140px;
  padding-top:10px;
  padding-left:25%;

}